# Virtual Environment
.venv/
venv/
env/
ENV/

# Environment variables
.env
.flaskenv

# Ruff
.ruff_cache

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

backend.zip
frontend.zip

portfolio_manager.db
app.log
.ibkr_encryption_key