**/__pycache__
**/.venv
**/venv
**/.pytest_cache
.flaskenv

*.pyc
*.pyo
*.pyd
.Python
.env
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

Makefile
Dockerfile

**/.DS_Store
.gitignore
.dockerignore

data
instance
logs
tests

.flake8
.pre-commit-config.yaml
scripts/fix_line_length.py
.pytest_cache
mypy.ini
pytest.ini