APScheduler
click
Flask
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
python-dotenv
pytz
SQLAlchemy
Werkzeug
yfinance

# Testing
pytest
pytest-flask
pytest-cov
pytest-mock
responses
freezegun
factory-boy
faker
pytest-timeout

# Python style and formatting
ruff
