APScheduler
click
Flask
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
python-dotenv
pytz
SQLAlchemy
Werkzeug
yfinance

# Python style and formatting
autopep8
black
flake8
flake8-docstrings
isort
pycodestyle
pydocstyle
