name: Frontend CI

on:
  push:
    paths:
      - 'frontend/**'
    branches: [ main ]
  pull_request:
    paths:
      - 'frontend/**'
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
    - uses: actions/checkout@v5
    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '23'
    - name: Install dependencies
      run: npm ci
    ## Currently not running tests
    # - name: Run tests
    #   run: npm test
    - name: Run linting
      run: npm run lint
    - name: Run formatting
      run: npm run format
